body.education-domain {
    overflow-x: hidden;
}

#main-pane {
    top: 0rem;
}

.main-content {
    top: 5rem;
}

#explore.main-content {
    padding-top: 0;
}

#screen {
    background: transparent;
}

#explore .search-section-container.sticky, 
#explore .search-section-content {
    display: none;
}
