#main-pane {
    position: fixed !important;
    top: 4.375rem !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

#main-pane > #explore {
    margin: 0 !important;
}

#screen {
    background: transparent;
}

.search-section-container.sticky {
    top: 3.8rem;
}

#main {
    align-items: center;
}
