.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Testing
tests/
test/
ci/

# Documentation
README.md
CHANGELOG.md
LICENSE

# CI/CD
.gitlab-ci.yml
Makefile
